<br><br>
<h4>Clients Orders</h4>
<br><br>
<div class="row">
    <br><br>
    {{#if order1}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                  Client:{{order1.clientUsername}}
                </h3>
                <p>Id Order: {{order1.idOrder}}</p>
                <p>State: {{order1.state}}</p>
                <p>Products: {{order1.products}}</p>
                <p>Total: {{order1.total}}</p>
                <p>Needs: {{order1.needs}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<br><br><br>
<br><br>
<h4>Clients Orders</h4>
<br><br>
<div class="row">
    <br><br>
    {{#if order2}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                  Client:{{order2.clientUsername}}
                </h5>
                 <p>Id Order: {{order2.idOrder}}</p>
                <p>State: {{order2.state}}</p>
                <p>Products: {{order2.products}}</p>
                <p>Total: {{order2.total}}</p>
                <p>Needs: {{order2.needs}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<br><br><br>
<br><br>
<h4>Clients Orders</h4>
<br><br>
<div class="row">
    <br><br>
    {{#if order3}}
    <div class="col-md-3">
    <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                  Client:{{order3.clientUsername}}
                </h5>
                 <p>Id Order: {{order3.idOrder}}</p>
                <p>State: {{order3.state}}</p>
                <p>Products: {{order3.products}}</p>
                <p>Total: {{order3.total}}</p>
                <p>Needs: {{order3.needs}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<br><br><br>