<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                     <b> Top 5 supermarkets  </b>
                </h3>
                <p>#1 Supermarket: {{purchases}}</p>
                <p>#2 Supermarket: {{purchases2}} </p>
                <p>#3 Supermarket:{{purchases3}} </p> 
                <p>#4 Supermarket:{{purchases4}} </p> 
                <p>#5 Supermarket:{{purchases5}} </p> 
            </form>
                <form action="/employeeM" class="inline">
                <button type= "submit" class="btn btn-dark"> Go Back</button>
                </form>
                </form> 
                </form> 
            </div>
        </div>
    </div>

</div>