<div class="row">
    {{#each orders}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-between align-items-center">
                   <b> Orders</b>
                </h3>
                <p>Id Order: {{idOrder}}</p>
                <p>Products: {{products}}</p>
                <p>Quantity: {{quantityProducts}}</p> 
                <p>Price: {{total}}</p>
                <p>Date: {{dateO}}</p>
                <p>Hour: {{hour}}</p>
                <p>State: {{state}}</p>
                <p>Needs: {{needs}}</p>
                <form action="/orders/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value = "DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">
                            Delete
                        </button>
                </form> 
                </form>
                <form action="/clientM" class="inline">
                <button type= "submit" class="btn btn-dark"> >Go Back</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>